---
import { Icon } from "astro-icon/components"
import { PlayButton } from "./play-button"
import { AudioPlayerDisplay } from "./audio-player-display"
import AudioPlayerVisualizer from "./audio-player-visualizer.astro"
import { AudioPlayerController } from "./audio-player-controller"
import { BackingTrackToggle } from "./backing-track-toggle"

interface Props {
  slug: string
  volume?: number
  hasBackingTrack?: boolean
}

const { slug, volume, hasBackingTrack } = Astro.props
---

<div>
  <div
    class="flex h-16 w-full gap-2 rounded-xl bg-loopydemos-primary-themed p-1"
  >
    <PlayButton client:load>
      <Icon name="ph:play-fill" slot="play-icon" />
      <Icon name="ph:pause-fill" slot="pause-icon" />
      <Icon
        name="ph:spinner-bold"
        slot="loading-icon"
        class="animate-spin-slow"
      />
    </PlayButton>
    <div class="h-full flex-grow rounded-xl bg-loopydemos-secondary-themed">
      <AudioPlayerDisplay client:load>
        <AudioPlayerVisualizer slot="audio-visualizer" />
      </AudioPlayerDisplay>
    </div>
  </div>
  <div class="mt-3 flex justify-end">
    {hasBackingTrack && <BackingTrackToggle client:load />}
  </div>
</div>
<AudioPlayerController
  client:only="solid-js"
  {slug}
  {volume}
  {hasBackingTrack}
/>
