---

---

<div class="flex h-full w-full gap-px px-2 py-3">
  {
    Array.from({ length: 200 }, () => (
      <div
        class="animate-warp h-full grow rounded-lg bg-loopydemos-highlight-secondary-themed"
        style={{
          "--delay": `calc(${Math.random()} * 0.2s)`,
          "--duration": `calc(${Math.random() + 0.7} * 0.5s)`,
        }}
      />
    ))
  }
</div>

<style>
  .animate-warp {
    animation: warp var(--duration) ease-out infinite alternate;
    animation-delay: var(--delay);
    transform: scaleY(0.4);
  }

  @keyframes warp {
    0% {
      transform: scaleY(0.4);
    }
    100% {
      transform: scaleY(1);
    }
  }
</style>
