---
import type { Switch } from "@types"
import ToggleSwitch from "./toggle-switch.astro"

type Props = Pick<
  Switch,
  | "size"
  | "orientation"
  | "type"
  | "state"
  | "isMomentary"
  | "secondaryCircuitId"
>

const { size, orientation, type } = Astro.props
const state = 1 // todo: implement state
---

<div>
  {
    {
      stomp: <div />,
      toggle: <ToggleSwitch {size} {orientation} {state} />,
      rocker: <div />,
      slide: <div />,
      threeway: <div />,
      pushbutton: <div />,
      cba: <div />,
    }[type]
  }
</div>
