---
import { Icon } from "astro-icon/components"
---

<div class="flex h-16 w-full gap-2 rounded-xl bg-loopydemos-primary p-1">
  <button
    class="h-full basis-12 text-[3rem] text-loopydemos-highlight-tertiary"
  >
    <Icon name="ph:play-fill" />
    <!-- <Icon name="ph:pause-fill" /> -->
    <!-- <Icon name="ph:spinner-bold" /> -->
  </button>
  <div class="h-full flex-grow rounded-xl bg-loopydemos-secondary"></div>
</div>
