---
import { Icon } from "astro-icon/components"
import { PresetButton } from "./preset-button"
import type { Preset } from "@types"

interface Props {
  presets: Preset[]
}

const { presets } = Astro.props
---

<div class="custom-scrollbar">
  <ul class="flex h-10 list-none gap-1">
    {
      presets.map(({ id, isSweep, label, chain }) => (
        <li class="h-full flex-shrink-0 flex-grow-0 basis-auto">
          <PresetButton
            client:load
            {id}
            isSweep={chain?.some((p) => p.isSweep) || isSweep}
            {label}
          >
            <Icon {id} name="ph:faders-bold" slot="default-icon" />
            <Icon
              {id}
              name="ph:spinner-bold"
              class="animate-spin-slow"
              slot="loading-icon"
            />
          </PresetButton>
        </li>
      ))
    }
  </ul>
</div>
