---
import Layout from "@layouts/default-layout.astro"
import DemoPreviewCard from "@components/demo-preview-card.astro"
import { getCollection, type CollectionEntry } from "astro:content"

const allDemos: CollectionEntry<"demos">[] = await getCollection("demos")
---

<Layout title="Demos">
  <section>
    <h2>Demos</h2>
    <p>
      Here you can find all demos on Loopy Demos. Each demo focuses on one pedal
      or piece of gear.
    </p>
  </section>
  <section class="grid auto-rows-[200px] grid-cols-3-min-repeat gap-2">
    {
      allDemos
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .filter((demo) => demo.data.type === "demo")
        .map((demo) => (
          <DemoPreviewCard
            slug={demo.slug}
            model={demo.data.model}
            builder={demo.data.builder}
          />
        ))
    }
  </section>
</Layout>
