---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section>
    <p>
      Welcome to Loopy Demos, a website for{" "}
      <strong>interactive guitar pedal and gear demos</strong>. Here, you can
      access and compare pedal sounds like no other platform or video demo can
      offer.
    </p>
    <p>
      Instead of watching and scrubbing through demo videos, get a piece of
      music playing, change settings, <strong>twist knobs</strong> and hear the
      <strong>sound change instantly</strong>.
    </p>
    <p>
      Check out the latest demos below, or browse the blog posts for more
      in-depth comparisons, tone tips and more.
    </p>
  </section>

  <h2>Latest Demos</h2>

  <section></section>

  <h2>Latest Posts</h2>

  <section></section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
