---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Posts">
  <section>
    <h2>Posts</h2>
    <p>
      In these blog posts you'll get back-to-back comparisons of similar pedals
      and neat tricks and tips for getting the most out of your gear. Each post
      will have some sort of interactive demo widget because sound says more
      than any of my ramblings.
    </p>
  </section>
</Layout>
