---
import Logo from "./Logo.astro"
import {Icon} from "astro-icon/components"

const pathname = Astro.url.pathname
---

<header class="z-50 w-full">
  <div class="bg-loopydemos-secondary">
    <div
      class="mx-auto my-0 flex max-w-3xl items-center bg-loopydemos-secondary px-4 py-2"
    >
      <a href="/" aria-label="Logo and home link" class="sm:p-4">
        <Logo />
      </a>
      <div
        class="ml-4 box-border flex h-12 flex-auto flex-col justify-center sm:ml-8 sm:h-24 sm:justify-between"
      >
        <div class="flex items-center justify-between">
          <a href="/" class="flex items-center">
            <h1 class="font-display text-[2.5rem] text-loopydemos-primary">
              Loopy Demos
            </h1>
          </a>
          <a
            href="https://www.instagram.com/loopydemos/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram link"
            class="text-4xl text-loopydemos-highlight-primary"
          >
            <Icon name="feather:instagram" />
          </a>
        </div>
        <ul class="flex w-full items-center justify-between">
          {
            [
              {href: "/demos", text: "Demos"},
              {href: "/posts", text: "Posts"},
              {href: "/about", text: "About"},
              {href: "/contact", text: "Contact"},
            ].map(({href, text}) => (
              <li
                class={`font-display text-2xl ${pathname.startsWith(href) ? "text-loopydemos-highlight-primary" : "text-loopydemos-highlight-secondary"} transition-colors hover:text-loopydemos-highlight-primary`}
              >
                <a href={href}>{text}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <svg
    viewBox="0 0 900 32"
    width="900"
    height="32"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    preserveAspectRatio="none"
    class="h-auto w-full -translate-y-1 transform [&>path]:fill-loopydemos-secondary"
  >
    <path
      d="M0 8L10.8 7.7C21.7 7.3 43.3 6.7 65.2 8C87 9.3 109 12.7 130.8 12.7C152.7 12.7 174.3 9.3 196.2 7.2C218 5 240 4 261.8 3.7C283.7 3.3 305.3 3.7 327.2 4.7C349 5.7 371 7.3 392.8 8.5C414.7 9.7 436.3 10.3 458.2 10.3C480 10.3 502 9.7 523.8 8.5C545.7 7.3 567.3 5.7 589.2 7.5C611 9.3 633 14.7 654.8 17C676.7 19.3 698.3 18.7 720 17.8C741.7 17 763.3 16 785.2 14.5C807 13 829 11 850.8 10.2C872.7 9.3 894.3 9.7 916.2 9C938 8.3 960 6.7 981.8 6.3C1003.7 6 1025.3 7 1047.2 8.8C1069 10.7 1091 13.3 1112.8 13.8C1134.7 14.3 1156.3 12.7 1178.2 11.5C1200 10.3 1222 9.7 1243.8 10.2C1265.7 10.7 1287.3 12.3 1309.2 13.8C1331 15.3 1353 16.7 1374.8 17.7C1396.7 18.7 1418.3 19.3 1429.2 19.7L1440 20L1440 0L1429.2 0C1418.3 0 1396.7 0 1374.8 0C1353 0 1331 0 1309.2 0C1287.3 0 1265.7 0 1243.8 0C1222 0 1200 0 1178.2 0C1156.3 0 1134.7 0 1112.8 0C1091 0 1069 0 1047.2 0C1025.3 0 1003.7 0 981.8 0C960 0 938 0 916.2 0C894.3 0 872.7 0 850.8 0C829 0 807 0 785.2 0C763.3 0 741.7 0 720 0C698.3 0 676.7 0 654.8 0C633 0 611 0 589.2 0C567.3 0 545.7 0 523.8 0C502 0 480 0 458.2 0C436.3 0 414.7 0 392.8 0C371 0 349 0 327.2 0C305.3 0 283.7 0 261.8 0C240 0 218 0 196.2 0C174.3 0 152.7 0 130.8 0C109 0 87 0 65.2 0C43.3 0 21.7 0 10.8 0L0 0Z"
      stroke-linecap="round"
      stroke-linejoin="miter"></path>
  </svg>
</header>
