---
import { Icon } from "astro-icon/components"

interface Props {
  href: string
  label: string
}

const { href, label } = Astro.props
---

<a
  {href}
  class="link-none inline-flex items-center gap-2 rounded-lg bg-loopydemos-highlight-secondary p-2 text-base font-black text-loopydemos-background transition-colors hover:bg-loopydemos-highlight-secondary/80 sm:text-lg"
  ><span>{label}</span><Icon name="ph:arrow-right-bold" /></a
>
