---
import DemoWidget from "@components/demo-widget"
import Layout from "./layout.astro"
import DateTag from "./date-tag.astro"

interface Props {
  title: string
  date: Date
  slug: string
}

const { slug, title, date } = Astro.props
---

<Layout {title}>
  <h2>{title}</h2>
  <div class="mb-3">
    <DateTag {date} />
  </div>
  <DemoWidget presetSlug={slug} />
  <slot />
</Layout>
