---
import DemoWidget from "@components/demo-widget"
import BaseLayout from "./base-layout.astro"
import SEO from "./seo.astro"

interface Props {
  slug: string
}

const { slug } = Astro.props
---

<BaseLayout>
  <SEO noIndex slot="head" />
  <div
    class="flex h-screen min-w-80 flex-col bg-loopydemos-background-themed p-4"
  >
    <div class="grow">
      <DemoWidget presetSlug={slug} noMargin />
    </div>
    <footer class="flex justify-end pt-2 text-xs xxs:text-sm">
      <div>
        <span class="text-loopydemos-text-themed"
          >Find more interactive demos on{" "}</span
        ><a
          href="https://loopydemos.com"
          class="!text-loopydemos-highlight-primary-themed"
          target="_blank">loopydemos.com</a
        >
      </div>
    </footer>
  </div>
</BaseLayout>

<script>
  const queryString = window.location.search

  const urlParams = new URLSearchParams(queryString)
  const root = document.documentElement

  const setCSSVarFromURL = (varName: string) => {
    const paramName = varName
      .replace("--loopydemos-", "")
      .split("-")
      .map((word, index) =>
        index === 0 ? word : word[0].toUpperCase() + word.slice(1)
      )
      .join("")

    if (urlParams.has(paramName)) {
      root.style.setProperty(varName, "#" + urlParams.get(paramName))
    }
  }

  setCSSVarFromURL("--loopydemos-primary")
  setCSSVarFromURL("--loopydemos-secondary")
  setCSSVarFromURL("--loopydemos-background")
  setCSSVarFromURL("--loopydemos-primary-highlight")
  setCSSVarFromURL("--loopydemos-secondary-highlight")
  setCSSVarFromURL("--loopydemos-tertiary-highlight")
  setCSSVarFromURL("--loopydemos-text")
  setCSSVarFromURL("--loopydemos-success")
  setCSSVarFromURL("--loopydemos-error")
  setCSSVarFromURL("--loopydemos-orange")
  setCSSVarFromURL("--loopydemos-subdued")
  setCSSVarFromURL("--loopydemos-black")
</script>
