---
import Header from "../components/Header.astro"
import "@fontsource-variable/fira-code"
import "@fontsource-variable/mulish"
import "@fontsource/bowlby-one-sc"
import "@fontsource/vt323"

interface Props {
  title: string
}

const {title} = Astro.props
---

<!doctype html>
<html
  lang="en"
  class="bg-loopydemos-background bg-noise antialiased bg-blend-hard-light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto my-0 max-w-3xl px-8">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  main {
    @apply text-loopydemos-text;

    h2 {
      @apply font-display text-3xl text-loopydemos-highlight-tertiary;
    }

    strong {
      @apply font-black text-loopydemos-highlight-tertiary;
    }

    p {
      @apply my-4 text-xl;
    }

    a {
      @apply text-loopydemos-highlight-primary;
    }
  }
</style>
